$font: 'Rubik', sans-serif;

$primary: #917cff;
$secondary: #08f0c8;
$bg-block: #0f1112;
$text-gray: #4f5157;
$gray: #181a1e;
$white: #fdfdfd;
$black: #000000;

$radius: 0.7rem;
$gap: 30px;
$sizes: (
	'xs': 320px,
	'sm': 576px,
	'md': 868px,
	'lg': 992px,
	'xl': 1200px
);
