@import 'src/styles/variables';
@import 'src/styles/mixins';

.link {
	@include transition(background-color);
	background-color: $primary;
	border-radius: $radius;
	padding: 12px 30px;
	color: $white;
	font-size: 18px;
	font-weight: 500;
	text-transform: capitalize;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		background-color: lighten($primary, 5%);
	}
}
